.modal{
    position: relative;
}

.modal_tittle{
    height: 48px;
    background: var(--primary-color);
    font-size: 18px;
    color: var(--white-color);
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.modal_form{
    margin-top: 64px;
}

.modal_form__item{
    margin: 4px 0;
}

.modal_form__item__button{
    width: 100px;
    margin: 16px auto;
}

.moda_form_item_coord{
    display: flex;
    gap: 8px;
     
}

.moda_form_item_coord{
    margin: 16px 0;
}

.moda_form_item_coord_tittle{
    margin-top: 16px;
}


.modal_add_client_out{
    width: 100%;
    margin: 16px 64px;
    
}

 