#home{
 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
     
}

.main_content_tittle{
    text-align: left;
    width: 100%;
    color: var(--black-color);
    font-size: 35px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    margin-left: 64px;
    margin-top: 64px;
 
}
.main_content_subtittle{
    text-align: left;
    width: 100%;
    color: var(--black-color);
    font-size: 35px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    margin-left: 64px;
    
}

.main_content{
    border-radius: 10px;
   border: 1px solid rgb(1,1,1,0.1);
   margin: 64px;
   box-shadow: 2px 2px 4px rgb(1,1,1,0.1);
}

.top_actions{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_acion__add_client{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 8px;      
    border-radius: 10px;
  
}

.top_acion__add_client:hover{
    cursor: pointer;
}
 
.top_action_filters{
    
    display: flex;
    justify-content: center;
}

.tags_filters{
    margin: 0 8px;
}

.tags_filters_remove{
   margin: 8px;
}

.tags_filters_remove:hover{
    cursor: pointer;
}


@media (max-width:686px) {
    .main_content{
        border: none;
        border-radius: 10px;
        width: 90%;
        margin: 32px auto;
        box-shadow: none;
        overflow: scroll;
    }
    .top_actions{
         background-color: #f0f0f0;
        overflow: scroll;
    }
     
}