.main_content{
    border: 1px solid rgb(1,1,1,0.1);
    border-radius: 10px;
    width: 90%;
    margin: 32px auto;
    box-shadow: 2px 2px 4px rgb(1,1,1,0.1);
    height: 20%;
}
 

.top_actions{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top_acion__add_client{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 8px;      
    border-radius: 10px;
}

.top_acion__add_client:hover{
    cursor: pointer;
}
 
.top_action_filters{
    margin: 16px 64px;
}

.tags_filters{
    margin: 0 8px;
}

.tags_filters_remove{
   margin: 8px;
}

.tags_filters_remove:hover{
    cursor: pointer;
}

@media (max-width:686px) {
    .main_content{
        border: none;
        border-radius: 10px;
        width: 90%;
        margin: 32px auto;
        box-shadow: none;
        overflow: scroll;
    }
     
}